body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Merienda', cursive;
  font-size: 5.625rem;
  color: #588da8;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  color: #588da8;
}

h3 {
  font-family: 'Comfortaa', cursive;
  color: #11999E;
}

a{
}

.footer-link{
  margin:30px;
  font-family: 'Comfortaa', cursive;
  color: #11999E;
  font-weight: bold;
  text-decoration: none;
}

p{
  color: #40514E;
}

#programmer{
  font-weight: normal;
}

.profile-photo{
  height: 150px;
}

.robot-photo{
  height:150px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.code-photo{
  height:150px;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.top-container {
  padding-top: 100px;
  height: 100%;
  background-color: #e3fdfd; /*https://colorhunt.co/palette/42191*/
  position: relative;
}

.profile{
  width: 30%;
  margin: 75px auto;
}

.skills {
  margin-top: 75px;
}

.middle-container{
  margin-bottom: 50px;
}

.bottom-container {
  background-color: #71c9ce;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright{
  color: #EAF6F6;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  margin-top: 30px;
}

.pro {
  font-weight: bold;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-cloud {
  width:150px;
  position: absolute;
  left: 25%;
  bottom: 300px;
}

.top-cloud {
  width:150px;
  position: absolute;
  right: 25%;
  top: 50px;
}

.contact-me{
  margin-top: 75px;
}

hr{
  border-style: dotted;
  height: 0;
  border-width: 0 0 8px 0;
  width: 70px;
  color: #a6b1e1;
}

.btn{
  margin-top: 20px;
  width: 150px;
}
